@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html, body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Courier Prime', monospace; */
  background-color: #fffefc;
  max-width: 100%;
  overflow-x: hidden;
}

#heading {
  text-align: center;
  margin-top: 5%;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
}

#logo-image {
  width: 100px;
  height: 100px;
  -webkit-animation: rotation 0.5s linear;
  animation-delay: 0.5s;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

#title {
  /* background: rgb(54,209,220);
  background: linear-gradient(90deg, rgba(54,209,220,1) 0%, rgba(91,134,229,1) 100%); */
  background: url('images/background/profile.jpeg') no-repeat;
}

#mainNav {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

.navbar-toggler:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav-item {
  font-size: 1.4rem;
  margin-left: 30px;
}

.nav-item i {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-item:hover {
  background: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  opacity: 0.8;
  margin-left: 3px;
}

#profile {
  padding: 20rem 2rem 12rem 5rem;
}

#profile ul li {
  list-style-type: none;
  display: inline;
  padding: 0 0 0 3%;
}

#intro {
  font-size: 1.5rem;
  color: #787878;
}

#name {
  font-size: 6rem;
  font-weight: 600;
  color: #163172;
  font-family: 'Dancing Script', cursive;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#name-link {
  text-decoration: none;
}

#name-link:hover {
  text-shadow: 2px 2px 5px red;
}

#descri {
  font-size: 2.2rem;
  color: #404040;
}

#social-media-icon {
  color: white;
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  margin-top: 1%;
}

#social-media-icon:hover {
  opacity: 80;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  transform: rotate(180deg);
}

/* about */
#about {
  padding: 5rem 5rem 5rem 5rem;
  font-size: 30px;
}

#about-title {
  font-size: 50px;
  font-family: 'Courier Prime', monospace;
  font-weight: bolder;
}

.about-image-div {
  float: left;
}

#about-div {
  overflow: hidden;
  display: flex;
}

#about-img {
  height: 500px;
}

.content-about {
  float: right;
  font-size: 24px;
  margin-left: 2%;
  margin-top: 7%;
}

@media only screen and (max-width: 860px) and (max-height: 788px) {
  #about-div {
    display: inline;
    font-size: 22px;
  }
}

/* education section */
.education {
  background-color: #fffefc;
}

#school-section {
  padding-top: 10%;
  margin-bottom: 10%;
}

#school-animation[data-scroll="in"] {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-200px);
    -moz-transform: translatex(-200px);
    -o-transform: translatex(-200px);
    transform: translatex(-200px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

#college-animation[data-scroll="in"] {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translatex(200px);
    -moz-transform: translatex(200px);
    -o-transform: translatex(200px);
    transform: translatex(200px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.school {
  border: 2px solid #163172;
  border-radius: 50px;
  padding: 2rem 1rem 2rem 1rem;
  background: #D6E4F0;
  float: inherit;
  margin-bottom: 5%;
  margin-right: 5%;
}

.school-div {
  text-align: center;
  padding: 5% 10% 5% 10%;
  font-family: 'Montserrat', sans-serif;
}

#school-logo {
  border: 2px solid black;
  border-radius: 80%;
  width: 28%;
  height: 28%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 5%;
}

.wrapper {
  display: inline;
  margin-bottom: 10%;
}

.progress-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  margin: 0 0 10px;
  font-family: 'Montserrat', sans-serif;
}

.progress-outer {
  background: #fff;
  padding: 5px 60px 5px 5px;
  border: 1px solid #bebfbf;
  border-radius: 45px;
  margin-bottom: 20px;
  position: relative;
  height: 40px;
}

.progress {
  background: #bebfbf;
  border-radius: 20px;
  margin: 0;
  margin-right: 10%;
  margin-top: 1.5%;
}

.progress .progress-bar {
  border-radius: 10px;
  height: 15px;
  box-shadow: none;
  width: 0;
  background-color: #1E56A0;
}

.progress .progress-value {
  font-size: 20px;
  font-weight: 700;
  color: #6b7880;
  position: absolute;
  top: 3px;
  right: 10px;
  margin-top: 3%;
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

#college {
  padding: 2rem 2rem 2rem 2rem;
}

#cgpa-div {
  width: 90%;
  height: 150px;
  border: 2px solid black;
  border-right: none;
  border-bottom: none;
  display: flex;
  transform: rotateX(180deg);
}

#cgpa {
  display: flex;
  margin-left: 2%;
}

#bar {
  margin-right: 4%;
  width: 25px;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: #163172;
  margin-right: 25px;
}

#bar:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#cgpa-marks-div {
  display: flex;
  margin-left: 2%;
  margin-bottom: 2%;
}

#cgpa-marks {
  margin-right: 4%;
  transform: rotate(310deg);
}

#cgpa-sem-div {
  display: flex;
  margin-left: 4%;
  margin-top: 2%;
}

#cgpa-marks-1 {
  margin-right: 9%;
}

.sem-1 {
  height: 80.71%;
}

.sem-2 {
  height: 90.24%;
}

.sem-3 {
  height: 100%;
}

.sem-4 {
  height: 90.64%;
}

/* skills-section */
#skills-section {
  background: rgb(253,254,255);
  background: linear-gradient(180deg, rgba(253,254,255,1) 0%, rgba(128,200,255,1) 100%);
  padding: 0 0 20% 0;
}

#heading {
  padding: 5% 0 5% 0;
}

.skill {
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #fffbf0;
}

#myTopnav a {
  font-family: 'Montserrat', sans-serif;
  margin-right: 2%;
  font-size: 22px;
  text-decoration: none;
  color: #1E56A0;
  padding: 0 0 0 5%;
}

@media only screen and (max-width: 700px) {
  #myTopnav a {
    font-size: 18px;
  }
}

#myTopnav a:hover {
  background: #D6E4F0;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 5% 5% 5% 5%;
  padding: 2% 2% 2% 2%;
}

@media only screen and (max-width: 700px) {
  #myTopnav a {
    font-size: 18px;
    padding: 0 0 0 2%;
  }

  #myTopnav a:hover {
    margin: 2% 2% 2% 2%;
    padding: 1% 1% 1% 1%;
  }
}

@media only screen and (max-width: 900px) {
  #myTopnav a:hover {
    margin: 2% 2% 2% 2%;
    padding: 1% 1% 1% 1%;
  }
}

#myTopnav i {
  margin: 4% 1% 4% 1%;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  padding: 2% 2.5% 5% 2.5%;
}

div.scrollmenu a:hover {
  opacity: 0.5;
}

div.scrollmenu img {
  width: 100px;
  height: 100px;
  padding: 2% 2% 2% 2%;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
  font-weight: 600;
  font-size: 1.6rem;
  color: white;
  background: url('images/background/snow.gif')
}

#card-section[data-scroll="in"] {
  -webkit-animation: rotation 1s linear;
  animation-delay: 1s;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
  }
}

.num-div {
  padding: 1% 2% 1% 2%;
  margin: 4% 1% 2% 1%;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

#experience, #project-number {
  text-align: left;
}

.experience-bar-div {
  background-color: white;
  padding: 5% 3% 2% 3%;
  border: 3px solid black;
  border-radius: 20px;
}

#experience-bar {
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
}

#bar-img {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: -15%;
  background-color: white;
}

.bar-title {
  display: flex;
  font-size: 14px;
  color: black;
  margin-left: 5%;
}

.bar-detail {
  margin-top: -5%;
  margin-right: 15%;
}

/* projects section */

#projects-section
{
  background: rgb(253,254,255);
background: linear-gradient(0deg, rgba(253,254,255,1) 0%, rgba(128,200,255,1) 100%);
 margin-top: -5%;
}
#projects-div
{
  border-radius: 10px;
}
#projects-title-list
{
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
 padding-left: 15%;
 padding-top: 2%;
}
#circle {
width:180px;
height: 70px;
line-height: 70px;
border-radius: 50%;
font-size: 24px;
color: #fff;
text-align: center;
background: #1E56A0;
}
#projects-title-list li
{
  margin-right: 5%;
  color: #fff;
  border:2px solid black;
  border-radius: 50%;
  margin-left: -3%;

}
#ani-li[data-scroll="in"]
{
  animation: fadeIn 2s ease-in both;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -30%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
#projects-title-list li a
{
  text-decoration: none;
  color: #fff;

}
#circle:hover
{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  opacity: 0.9;
}

@media only screen and (max-width: 700px) {
  #circle {
    font-size: 18px;
    width:130px;
    height: 50px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 900px) {
  #myTopnav a:hover {
    margin: 2% 2% 2% 2%;
    padding: 1% 1% 1% 1%;
  }
}

#projects-container
{
  justify-content: center;
}
#carousel-projects,#carousel-projects-1,#carousel-projects-2
{
  margin-left: 10%;
  padding:5% 0% 5% 0%;
}
.carousel-item
{
  float: right;
}
.carousel-caption
{
  background-color: #ffb994;
  opacity: 0.8;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
}
.carousel-item h5,p
{
  font-size: 1.8rem;
  color: black;
  font-weight: bolder;
  opacity: 1;
}
.carousel-item p
{
  font-size: 1rem;
  color:#292828;
  font-weight: bolder;
  opacity: 1;
}
.projects-img
{
  width: 60%;
  height: 60%;
  border: 4px solid black;
  border-radius: 5%;

}
.carousel-control-prev-icon

{
  background-color: black;
  padding: 5% 5% 5% 5%;
}
#project-github-link
{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 2%;
  background-color: white;
  padding: 2% 2% 2% 2%;
}

#contact-form form
{
}
.form-div
{
padding: 5% 5% 5% 5%;
margin: 5% 5% 5% 5%;

}
#contact-form
{
  justify-content: center;
  padding-bottom: 5%;
}
