@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html, body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Courier Prime', monospace; */
  background-color: #fffefc;
  max-width: 100%;
  overflow-x: hidden;
}

#heading {
  text-align: center;
  margin-top: 5%;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  font-size: 5vh;
}

#logo-image {
  width: 12vh;
  height: 12vh;
  -webkit-animation: rotation 0.5s linear;
  animation-delay: 0.5s;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

#title {
  /* background: rgb(54,209,220);
  background: linear-gradient(90deg, rgba(54,209,220,1) 0%, rgba(91,134,229,1) 100%); */
  background: url('images/background/profile.jpeg');
  width: 100vw;
  height: 100vh;
}

#mainNav {
  position: absolute;
  font-family: 'Courier Prime', monospace;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

.navbar-toggler:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav-item {
  font-size: 2.2rem;
  margin-left: 30px;
  border-radius:10px;
}

.nav-item i {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-item:hover {
  background: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  opacity: 0.8;
  margin-left: 3px;
}

#profile {
  padding: 37vh 2rem 12rem 5rem;
}

#profile ul li {
  list-style-type: none;
  display: inline;
  padding: 0 0 0 3%;
}

#intro {
  font-size: 2.7vh;
  color: #787878;
  font-family: 'Montserrat', sans-serif;
}

#name {
  font-size: 13vh;
  font-weight: 600;
  color: #163172;
  font-family: 'Dancing Script', cursive;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
#name {
animation: blinker time_in_seconds up_to_blink_time;
}
@keyframes blinker {
60% {
opacity: 0;
}
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#name-link {
  text-decoration: none;
}

#name-link:hover {
  text-shadow: 2px 2px 5px red;
}

#descri {
  font-size: 3.5vh;
  color: #404040;
  font-family: 'Montserrat', sans-serif;
}

#social-media-icon {
  color: white;
  width: 8vh;
  height: 8vh;
  border: 2px solid black;
  border-radius: 50%;
  margin-top: 1%;
}

#social-media-icon:hover {
  opacity: 80;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  transform: rotate(180deg);
}
/* about */
.about {
  padding-bottom: 5vh;
  height: 100%;
}

#about-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 5%;
  font-size: 4vh;
}

#about-div {
  overflow: hidden;
  /* border: 2px solid black; */
  padding: 5% -10% 5% -10%;
}

#about-div div {
  min-height: 200px;
  padding: 10px;
}

.about-image-div {
  float: left;
  margin-right: 20px;
  width: 40vh;
  margin-left: 2vh;
}

.content-about {
  margin: 10% 5% 10% 5%;
  overflow: hidden;
  min-height: 50px;
  min-width: 60%;
}

.content-about p {
  font-size: 3vh;
  color: #807f7e;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 400px) {
  .about-image-div {
    float: none;
    margin-right: 0;
    width: auto;
    border: 0;
  }
}

/* education section */
.education {
  background-color: #fffefc;
}

#school-section {
  padding-top: 10%;
  margin-bottom: 10%;
}

#school-animation[data-scroll="in"] {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-200px);
    -moz-transform: translatex(-200px);
    -o-transform: translatex(-200px);
    transform: translatex(-200px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

#college-animation[data-scroll="in"] {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translatex(200px);
    -moz-transform: translatex(200px);
    -o-transform: translatex(200px);
    transform: translatex(200px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.school {
  border: 2px solid #163172;
  border-radius: 50px;
  padding: 2rem 1rem 2rem 1rem;
  background: #D6E4F0;
  float: inherit;
  margin-bottom: 5%;
  margin-right: 5%;
}

.school-div {
  text-align: center;
  padding: 5% 10% 5% 10%;
  font-family: 'Montserrat', sans-serif;
}

#school-logo {
  border: 2px solid black;
  border-radius: 80%;
  width: 15vh;
  height: 15vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 5%;
}

.wrapper {
  display: inline;
  margin-bottom: 10%;
}

.progress-title {
  font-size: 3vh;
  font-weight: 700;
  color: #000;
  margin: 0 0 10px;
  font-family: 'Montserrat', sans-serif;
}

.progress-outer {
  background: #fff;
  padding: 5px 100px 5px 10px;
  border: 1px solid #bebfbf;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  height: auto;
  overflow-y: auto;
  padding-bottom: 2%;
}

.progress {
  background: #bebfbf;
  border-radius: 20px;
  margin: 0;
  margin-right: 5%;
  margin-top: 1.5%;
}

.progress .progress-bar {
  border-radius: 10px;
  height: 15px;
  box-shadow: none;
  width: 0;
  background-color: #1E56A0;
}

.progress .progress-value {
  font-size: 0.7cm;
  font-weight: 700;
  color: #6b7880;
  position: absolute;
  float: right;
  right: 10px;
  margin-top: 2%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 400px) {
  .progress .progress-value {
    font-size: 2rem;
    margin-top: 1.5%;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

#college {
  padding: 2rem 2rem 2rem 2rem;
}

#cgpa-div {
  width: 90%;
  height: 25vh;
  border: 2px solid black;
  border-right: none;
  border-bottom: none;
  display: flex;
  transform: rotateX(180deg);
}

#cgpa {
  display: flex;
  margin-left: 2%;
  height: 23vh;
}

#bar {
  margin-right: 7%;
  width: 3.5vh;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: #163172;
  margin-right: 25px;
}

#bar:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#cgpa-marks-div {
  display: flex;
  margin-left: 2%;
  margin-bottom: 2%;
  font-size: 2vh;
}

#cgpa-marks {
  margin-right: 3%;
  transform: rotate(310deg);
}

#cgpa-sem-div {
  display: flex;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 2.8vh;
}

#sem {
  transform: rotateX(180deg);
  color: white;
  text-align: center;
}

#cgpa-marks-1 {
  margin-right: 8%;
}

.sem-1 {
  height: 80.71%;
}

.sem-2 {
  height: 90.24%;
}

.sem-3 {
  height: 100%;
}

.sem-4 {
  height: 90.64%;
}

/* skills */
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2% 2% 2% 2%;
  background-image: url('images/background/snow.gif');
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu a img {
  width: 13vh;
  height: 13vh;
  border-radius: 20%;
  border: 2px solid gray;
  padding: 10% 10% 10% 10%;
}

div.scrollmenu a:hover {
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* project */
.skill-progress {
  background-color: #fffff5;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5% 5% 5% 5%;
  margin: 5% 5% 5% 5%;
}

.skill-bar {
  padding: 2% 0 2% 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 2% 2% 2% 2%;
  margin: 2% 0 2% 0;
}

.skill-bar h1 {
  font-size: 4vh;
  font-family: 'Montserrat', sans-serif;
}

.card-body a {
  font-size: 3.5vh;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.card-body p {
  font-size: 2.5vh;
  font-family: 'Montserrat', sans-serif;
}

.card-img-top {
  width: 60vh;
  height: 45vh;
}

#project-github-link {
  font-size: 3vh;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  padding: 1% 1% 1% 1%;
  color: black;
  background-color: #D6E4F0;
}

#project-github-link:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-div {
  padding: 5% 5% 5% 5%;
  margin: 5% 5% 5% 5%;
}

#contact-form {
  justify-content: center;
  padding-bottom: 5%;
}


/* css for toggel */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkblue;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 34px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2a83f7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fffdd1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
  background-color: #fffdd1;
}

.switch-div
{

}
.s1
{
    width: 10vh;
}
